<!-- {% extends "base.html" %}

{%block title %}
Barcode Macro Generator
{%endblock %}

{%block head %}

<div>Barcode Macro Generator</div>

{%endblock%}

{% block content %}

{%if error %}

<div class="error">{{error}}</div>

{%endif %}

{%if code %}

<textarea class="code" id="code" readonly>{{code}}</textarea>

<div class="instructions">Copy and paste this code in edit macro in corelDraw and run the macro 'printPages'.</div>

<button class="btn" onclick="copyText()">Copy Code</button>




{%endif %}

<form action="/print" enctype="multipart/form-data" id="id" method="post">
    <!-- excel, column -->

    <div class="instructions"><span class="num">#</span> Print the first page manually</div>
    <div class="instructions"><span class="num">1.</span> Select an excel file with instructions</div>

    <label for="hiddenUploadBtn" id="uploadFile">
        Choose File
    </label>

    <div class="currFile" id="currFile"></div>

    <input type="file" name="xl" id="hiddenUploadBtn" accept=".xlsx, .xls" hidden>

    <div class="instructions"><span class="num">2.</span> Select the required sheet number of the excel file.</div>

    <input type="number" name="sheetnumber" placeholder="eg. 1">

    <div class="instructions"><span class="num">3.</span> Enter the column containing the print quantity.</div>

    <input type="text" name="column" placeholder="eg. A">

    <br>
    <button type="submit">Submit</button>
</form>

<script>
    document.getElementById('print-nav').style.backgroundColor = '#2F3447';

    function copyText() {
        text = document.getElementById("code");

        text.select();

        //navigator.clipboard.writeText(copyText.value);

        
        document.execCommand("copy");
    }
</script>
<script src="{{url_for('static', filename='upload.js')}}"></script>

{%endblock %} -->
